---
name: ci repo CI

# yamllint disable-line rule:truthy
on:
  push:
    branches: [master]
  pull_request:
    branches: [master]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

jobs:
  python-checks:
    strategy:
      matrix:
        include:
          # MANDATORY CHECKS USING CURRENT DEVELOPMENT INTERPRETER
          - python-version: 3.8.6
            dependencies: pylint==2.4.4
            task: lint
          - python-version: 3.8.6
            dependencies: black==19.10b0 isort==4.3.21
            task: fmt-travis

          # MANDATORY CHECKS USING LOWEST SUPPORTED INTERPRETER
          - python-version: 3.6.8
            dependencies: pylint==2.4.4
            task: lint

          # VERIFICATION OF TEST INFRASTRUCTURE
          - python-version: 3.8.6
            dependencies: yamllint==1.25.0
            task: yamllint
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python-version }}
      - name: Install dependencies
        run: pip3 install ${{ matrix.dependencies }}
      - name: Run test
        run: make -f Makefile ${{ matrix.task }}
